<!DOCTYPE html>
<html lang="ko">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% include ./link.ejs %>
    <link href="./vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">

    <!-- 만든거 -->
    <style>
      .x_content p,
      .x_content label,
      .x_content h5,
      tr,
      td,
      button {
        color: rgb(102, 102, 102);
      }
    </style>

</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">

      <!-- navbar + 사이드바 -->
      <% include ./navbar.ejs %>
        <!-- /navbar + 사이드바 -->

        <div class="push"></div>

        <!-- Content -->
        <div class="right_col" role="main">

          <div class="">

            <div class="page-title">
              <div class="title_left">
                <h3>내 관심 프로젝트</h3>
              </div>

              <div class="clearfix"></div>

              <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">

                      <div class="x_content">
                        <br/>
                        <div>
                          <button id="addReferProj" type="button" class="btn btn-warning">연계 프로젝트 등록</button>
                        </div>
                        <br/>

                        <table id="xxxx" class="table jambo_table table-striped table-bordered table-hover bulk_action">
                          <thead>
                            <tr style="background: #405467; color: #eee;">
                              <th width="3%">
                                <input type="checkbox" id="check-all" class="flat" style="position: absolute; opacity: 0;">
                              </th>
                              <th width="13%">Project Number</th>
                              <th width="21%">Project Name</th>
                              <th width="10%">Type</th>
                              <th width="11%">팀장</th>
                              <th width="11%">Date</th>
                              <th width="7%">팀장 학년</th>
                              <th width="8%">평점</th>
                              <th width="9%">삭제</th>
                            </tr>
                          </thead>
                        </table>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <!-- /Content -->
        </div>

        <% include ./footer.ejs %>
    </div>
</body>
<% include ./script.ejs %>
  <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="../vendors/jszip/dist/jszip.min.js"></script>
  <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>

  <script src="./js/searchbar.js"></script>
  <script src="./js/cartlist.js"></script>

</html>