<title>DSU - Project Managament System</title>

<!-- Font Awesome -->
<link href="./vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="./vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="./vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- bootstrap-progressbar -->
<link href="./vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
<!-- JQVMap -->
<link href="./vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
<!-- bootstrap-daterangepicker -->
<link href="./vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

<link rel="stylesheet" href="./jasny-bootstrap/css/jasny-bootstrap.min.css">
<!-- Bootstrap -->
<link href="./vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

<link href="./build/custom.min.css" rel="stylesheet">
<style>
  html,
  body,
  .right_col {
    min-height: 500px;
  }

  div.form-group-sm,
  div.form-group {
    color: #ccc;
  }
</style>
<link rel="stylesheet" href="./css/navbar.css">