<style>
  h4 {
    color: black;
  }
</style>
<!-- 성과 상세 -->
<div class="modal fade" id="contest_info" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
        <h3 class="modal-title" id="wins_type"></h3>
      </div>
      <div class="modal-body">

        <div class="form-group" id="wins_info_0">
        </div>
        <div class="form-group" id="wins_info_1">
        </div>
        <div class="row">
          <div class="form-group col-md-6" id="wins_info_2">
          </div>
          <div class="form-group col-md-6" id="wins_info_3">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6" id="wins_info_4">
          </div>
          <div class="form-group col-md-6" id="wins_info_5">
          </div>
        </div>
        <div class="form-group" id="wins_info_6">
        </div>
        <div class="form-group" id="wins_info_7">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody class='wins-person'>
            </tbody>
          </table>
        </div>


      </div>
      <div class="modal-footer">
        <div class="btn-group btn-group-justified" role="group" aria-label="group button">
          <% var p = false;
            for(var i in proj_info) {
              if(proj_info[i].id == user.id || user.user_type == "A") {
                p = true;
                break;
              }
            }
                                      
            if(p) { %>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default delWins">삭제하기</button>
          </div>
          <% } %>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-dismiss="modal" role="button">Close</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- //성과 상세 -->